[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = git://github.com/gmarik/vundle
[submodule "oh-my-zsh"]
	path = oh-my-zsh
   url = https://github.com/robbyrussell/oh-my-zsh
[submodule "ipython/IPython-notebook-extensions"]
	path = ipython/IPython-notebook-extensions
	url = https://github.com/ipython-contrib/IPython-notebook-extensions
[submodule "xcape"]
	path = xcape
	url = https://github.com/alols/xcape
[submodule "ipython/extensions/vimception"]
	path = ipython/extensions/vimception
	url = git://github.com/ivanov/ipython-vimception
[submodule "ipython/nbextensions"]
	path = ipython/nbextensions
	url = https://github.com/ipython-contrib/IPython-notebook-extensions
[submodule "my-zsh/plugins/zsh-syntax-highlighting"]
	path = my-zsh/plugins/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "realpath-osx"]
	path = realpath-osx
	url = https://github.com/harto/realpath-osx
