# If you want ipython to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install ipython-qtconsole.desktop

[Desktop Entry]
Comment=IPython notebook
Exec=sh -c "tmux new -d -s ipython; tmux new-window -t ipython 'ipython notebook --notebook-dir=~/Documents/notebooks'"
GenericName=IPython notebook
Icon=~/.icons/ipynb_icon_128x128.png
Name=IPython Notebook
Categories=Development;Utility;
StartupNotify=true
Terminal=false
Type=Application
