# If you want ipython to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install ipython-qtconsole.desktop

[Desktop Entry]
Comment=Spead Reader
Exec=bash -c ~/bin/spread
GenericName=Spread0r
Icon=media-playback-start
Name=Spread0r
Categories=
StartupNotify=true
Terminal=false
Type=Application
